<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luckyone.web.mapper.ChatDetailedMapper">

    <resultMap id="BaseResultMap" type="com.luckyone.web.model.entity.ChatDetailed">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="userId" jdbcType="INTEGER"/>
            <result property="anotherId" column="anotherId" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="userDel" column="userDel" jdbcType="TINYINT"/>
            <result property="anotherDel" column="anotherDel" jdbcType="TINYINT"/>
            <result property="withdraw" column="withdraw" jdbcType="TINYINT"/>
            <result property="time" column="time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,anotherId,
        content,userDel,anotherDel,
        withdraw,time
    </sql>
</mapper>
